<% if @disabled %>
    <div class="row alert-message block-message error">
      <div class="span16">
        <h3>
          <%= image_tag 'stop_sign.gif' %>
          &nbsp;&nbsp;Click the <span class="alt">"Accept Hit"</span> button above.
        </h3>
      </div>
    </div>
<% end %>