<div class="row alert-message block-message warning">
  <div class="span16">
    <h2>
      Directions:
    </h2>
    <p>
      I need <i>your</i> HELP.  Please watch the <%=  @transcription.video_segment.duration %> second video segment below.
    </p>

    <p>
      For every candidate that speaks, click the <span class='btn large success'>Add Speaker</span> button, select who is speaking, and transcribe their text.
    </p>

    <p>
      I cannot pay much, but rest assured, your transcribed text will be provided for free for the public's use and to better inform the hearing impaired community for the upcoming elections.
    </p>

  </div>
</div>